<div class="container">
	<div class="row">
		{{ form_start(form) }}
		<div class="col-xs-12">
			<div class="form-group">
				<label for="fromDate">Von</label>
				<div class="input-group date" id="fromdate">
					{{ form_widget(form.fromDate) }}
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label for="toDate">Bis</label>
				<div class="input-group date" id="todate">
					{{ form_widget(form.toDate) }}
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div id="day-option-component"></div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				{{ form_row(form.day) }}
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				{{ form_row(form.reason) }}
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				{{ form_row(form.note) }}
			</div>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="col-xs-12">
				<div class="form-group">
					{{ form_row(form.status) }}
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					{{ form_row(form.sendInfo) }}
				</div>
			</div>
		{% endif %}
		<div class="col-xs-12">
			<a href="{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PERSONAL') %}{{ path('calendar_index') }}{% else %}{{ path('calendar_show', {'id': absence.employee.id}) }}{% endif %}" class="btn btn-default">{% trans %}Zurück{% endtrans %}</a>
			<input type="submit" value="Anlegen" class="btn btn-primary"/>
		</div>
		{{ form_end(form) }}
	</div>
</div>
