{% extends 'base_new.html.twig' %}
{% set title = 'Fahrtenbuch Mitarbeiter sperren' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				{% embed "partials/box.html.twig" with {'class': 'col-xs-12', 'title': 'Mitarbeiter' } %}
					{% block content %}
						<!-- Swiper -->
						<i class="fa fa-search" style="position: absolute;top: 13px;left: 27px;font-size: 20px;"></i>
						<input class="" inputmode="text" id="searchInput" onkeyup="searchThroughEmployees()" placeholder="Suche nach Mitarbeiter...">
						<div class="swiper-container ">
							<div class="swiper-wrapper">
								{% for employee in employees %}
									<div class="swiper-slide card-2" style="background-color:#fff;padding:20px;">
										<div style="display:flex;flex-direction:column;height:100%;">
											<div class="row" style="margin-bottom: 10px;">
												<h3 class="col-xs-8">{{ employee.fullname }}</h3>
												<i class="col-xs-4 fa fa-users fa-2x text-right" style="margin-top:20px;"></i>
											</div>
											<div class="row" style="margin-bottom:10px;">
												<div class="col-xs-4">
													{% trans %}Adresse:{% endtrans %}
												</div>
												<div class="col-xs-8 text-right">
													{{ employee.address }}
												</div>
											</div>
											{% if (not employee.vehicleLogBlocked is empty) %}
												{% if (not employee.vehicleLogs.last is empty) %}
													<a class="btn" style="margin-top:auto;width:100%;color:#fff;background-color:#666666;" href="{{ path('vehicle_log_un_block_employee', {'employee_id':employee.id}) }}">
														Entsperren
													</a>
												{% else %}
													<a class="btn" style="margin-top:auto;width:100%;color:#fff;background-color:#666666;" href="{{ path('vehicle_log_un_block_employee', {'employee_id':employee.id}) }}">
														Entsperren
													</a>
												{% endif %}
											{% else %}
												{% if (not employee.vehicleLogs is empty)
												and (employee.vehicleLogs.last.vehicleLogEndPosition is empty) %}
													<a class="btn disabled" style="margin-top:auto;width:100%;color:#fff;background-color:#cd0001;">
														Ist unterwegs
													</a>
												{% else %}
													<a class="btn" style="margin-top:auto;width:100%;color:#fff;background-color:#cd0001;" href="{{ path('vehicle_log_set_block_employee', {'employee_id':employee.id}) }}">
														Sperren
													</a>
												{% endif %}
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endblock %}
				{% endembed %}

				{% embed "partials/box.html.twig" with {'class': 'col-xs-12', 'title': 'Gesperrte Mitarbeiter' } %}
					{% block content %}
						{% if (not blockedEmployees is empty) %}
							<div class="table-responsive">
								<table class="table table-responsive table-striped table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Vorname</th>
											<th>Adresse</th>
											<th>Gesperrt</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										{% for blockedEmployee in blockedEmployees %}
											<tr>
												<td>{{ blockedEmployee.name }}</td>
												<td>{{ blockedEmployee.prename }}</td>
												<td>{{ blockedEmployee.address }}</td>
												<td>{{ blockedEmployee.vehicleLogBlocked|time_diff("now") }}</td>
												<td>
													<a class="btn" style="margin-top:auto;width:100%;color:#fff;background-color:#666666;" href="{{ path('vehicle_log_un_block_employee', {'employee_id':blockedEmployee.id}) }}">
														Entsperren
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						{% else %}
							<p>Aktuell sind keine Mitarbeiter gesperrt!</p>
						{% endif %}
					{% endblock %}
				{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheet %}
<style>
	#searchInput {
		width: 100%; /* Full-width */
		font-size: 16px; /* Increase font-size */
		padding: 12px 20px 12px 40px; /* Add some padding */
		border: 1px solid #ddd; /* Add a grey border */
		margin-bottom: 12px; /* Add some space below the input */
	}

	.swiper-container {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 200px;
		min-height: 200px;
		height: auto;
	}

	.card-2 {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.swiper-slide-active {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	@media only screen and (min-width: 992px) {
		.swiper-slide {
			width: 300px;
		}
	}
</style>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function() {
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			centeredSlides: true,
			slidesPerView: 'auto',
		});
	});

	function searchThroughEmployees() {
		// Declare variables
		var swiper, input, filter, slides, h3, i, txtValue;
		swiper = document.querySelector('.swiper-container').swiper;
		input = document.getElementById('searchInput');
		filter = input.value.toUpperCase();
		slides = document.getElementsByClassName("swiper-slide");

		if (input.value.length >= 3 )
		// Loop through all list items, and hide those who don't match the search query
		for (i = 0; i < slides.length; i++) {
			h3 = slides[i].getElementsByTagName("h3")[0];
			txtValue = h3.textContent || h3.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				swiper.slideTo(i);
			}
		}
	}
</script>
{% endblock %}