{% extends 'base_new.html.twig' %}
{% set title = 'Gehaltserhöhungsanträge' %}
{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" style="margin-bottom:20px;">
             <li class="active"><a data-toggle="tab" href="#allm">Gehaltserhöhungsanträge (in Bearbeitung)</a></li>
             <li><a data-toggle="tab" href="#all2div">Gehaltserhöhungsanträge (Archiv)</a></li>
        </ul>
        <div class="tab-content">
  <div id="allm" class="tab-pane fade in active" >
                <div class="table-responsive" >
                    <table id='all' class="stripe row-border order-column cell-border display table table-stripe">
                        <thead>
                            <tr>
                              {% if is_granted('ROLE_ADMIN') %}
                                  <th>{% trans %}Name{% endtrans %}</th>
                                  <th>{% trans %}Vorname{% endtrans %}</th>
                                  <th>{% trans %}Abteilung{% endtrans %}</th>
                                  <th>{% trans %}Beschäftigt ab{% endtrans %}</th>
                                  <th>{% trans %}Gehalt{% endtrans %}</th>
                                  <th>{% trans %}Neue Gehalt{% endtrans %}</th>
                                  <th>{% trans %}Ab{% endtrans %}</th>
                                  <th>{% trans %}Bis{% endtrans %}</th>
                                  <th>{% trans %}Kommentar{% endtrans %}</th>
                                  <th>{% trans %}create_at{% endtrans %}</th>
                                  <th></th>
                              {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                              <tr>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.name }}</a></td>
                                    <td>{{ employee.prename }}</td>
                                    <td>{{ employee.department }}</td>
                                    <td>{{ employee.birthday ? employee.birthday|date('d.m.Y') : '' }}</td>
                                    <td style="text-align:right;">{{ employee.salary }}</td>
                                    <td style="text-align:right">{{ employee.newsalary }}</td>
                                    <td style="text-align:right">{{ employee.fromDate|date('d-m-Y') }}</td>
                                    <td style="text-align:right">{{ employee.toDate|date('d-m-Y') }}</td>
                                    <td style="text-align:right">{{ employee.comment }}</td>
                                    <td style="text-align:right"><span class="hide">{{ employee.createAt|date('y-m-d H:i') }}</span>{{ employee.createAt|date('d-m-y H:i') }}</td>
                                    <td>
                                      <div class="btn-group">
                                        <a href="#!" class="menu" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                          <li><a href="{{ path('employee_show', { 'id': employee.id }) }}">Mitarbeiter ansehen</a></li>
                                          <li><a href="{{ path('employee_edit', { 'id': employee.id }) }}">Mitarbeiter bearbeiten</a></li>
                                          <li><a href="{{ path('calendar_show', {'id': employee.id}) }}">Urlaub ansehen</a></li>
                                          {% if employee.contract is not null %}
                                              <li><a href="{{ path('contract_show', { 'id': employee.contract.id }) }}">Vertrag ansehen</a></li>
                                          {% endif %}
                                           <li><a href="{{ path('expenses_employee_view', { 'employee_id': employee.id }) }}">{% trans %}Spesen ansehen{% endtrans %}</a></li>
                                           <li><a href="{{ path('user_edit', { 'id': employee.user.id }) }}">{% trans %}Password bearbeiten{% endtrans %}</a></li>
                                        </ul>
                                      </div>
                                    </td>
                                    {% endif %}
                                </tr>

                            {% endfor %}
                        </tbody>
                      <tfoot>
                          <tr>
                           {% if is_granted('ROLE_ADMIN') %}
                                <th>{% trans %}Name{% endtrans %}</th>
                                <th>{% trans %}Vorname{% endtrans %}</th>
                                <th>{% trans %}Abteilung{% endtrans %}</th>
                                <th>{% trans %}Beschäftigt ab{% endtrans %}</th>
                                <th>{% trans %}Gehalt{% endtrans %}</th>
                                <th>{% trans %}Neue Gehalt{% endtrans %}</th>
                                <th>{% trans %}Ab{% endtrans %}</th>
                                <th>{% trans %}Bis{% endtrans %}</th>
                                <th>{% trans %}Kommentar{% endtrans %}</th>
                                <th>{% trans %}create_at{% endtrans %}</th>
                                <th></th>
                                {% endif %}
                            </tr>
                     </tfoot>
                    </table>
                </div>
            </div>
            <div id="all2div" class="tab-pane fade in " >
                          <div class="table-responsive" >
                              <table id='all2' class="stripe row-border order-column cell-border display table table-stripe">
                                  <thead>
                                      <tr>
                                      {% if is_granted('ROLE_ADMIN') %}
                                          <th>{% trans %}Name{% endtrans %}</th>
                                          <th>{% trans %}Vorname{% endtrans %}</th>
                                          <th>{% trans %}Abteilung{% endtrans %}</th>
                                          <th>{% trans %}Beschäftigt ab{% endtrans %}</th>
                                          <th>{% trans %}Info{% endtrans %}</th>
                                          <th>bearbeiten</th>
                                      {% endif %}
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for employee in employeesAll %}
                                        <tr>
                                              {% if is_granted('ROLE_ADMIN') %}
                                              <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.name }}</a></td>
                                              <td>{{ employee.prename }}</td>
                                              <td>{{ employee.department }}</td>
                                              <td>{{ employee.entryDate ? employee.entryDate|date('d.m.Y') : '' }}</td>
                                              <td>
                                                <div>
                                                <table width='100%'>
                                                  <thead>
                                                  <tr>
                                                    <th width="10%">{% trans %}Gehalt{% endtrans %}</th>
                                                    <th width="15%">{% trans %}Ab{% endtrans %}</th>
                                                    <th width="15%">{% trans %}Bis{% endtrans %}</th>
                                                    <th width="50%">{% trans %}Kommentar{% endtrans %}</th>
                                                    <th width="10%">{% trans %}create_at{% endtrans %}</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% if employee.salarys  %}
                                                  {% for salary in employee.salarys %}
                                                  <tr>
                                                    <td style="text-align:right;">{{ salary.salary }}</td>
                                                    <td style="text-align:right" >{{ salary.fromDate|date('d-m-Y') }}</td>
                                                    <td style="text-align:right">{{ salary.toDate|date('d-m-Y') }}</td>
                                                    <td style="text-align:right">{{ salary.comment }}</td>
                                                    <td style="text-align:right"><span class="hide">{{ salary.createAt|date('y-m-d H:i') }}</span>{{ salary.createAt|date('d-m-Y') }}</td>
                                                  </tr>
                                                  {% endfor %}
                                                  {% else %}
                                                  <tr>
                                                    <td style="text-align:right;">{{ employee.salary }}</td>
                                                    <td style="text-align:right">{{ employee.entryDate|date('d-m-Y') }}</td>
                                                    <td style="text-align:right"></td>
                                                    <td style="text-align:right"></td>
                                                    <td style="text-align:right">{{ employee.entryDate|date('d-m-Y') }}</td>
                                                  </tr>
                                                  {% endif %}
                                                </tbody>
                                                </table>
                                              </div>
                                              </td>
                                              <td>
                                                <div class="btn-group">
                                                  <a href="#!" class="menu" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                  <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="{{ path('employee_show', { 'id': employee.id }) }}">Mitarbeiter ansehen</a></li>
                                                    <li><a href="{{ path('employee_edit', { 'id': employee.id }) }}">Mitarbeiter bearbeiten</a></li>
                                                    <li><a href="{{ path('calendar_show', {'id': employee.id}) }}">Urlaub ansehen</a></li>
                                                    {% if employee.contract is not null %}
                                                        <li><a href="{{ path('contract_show', { 'id': employee.contract.id }) }}">Vertrag ansehen</a></li>
                                                    {% endif %}
                                                     <li><a href="{{ path('expenses_employee_view', { 'employee_id': employee.id }) }}">{% trans %}Spesen ansehen{% endtrans %}</a></li>
                                                     <li><a href="{{ path('user_edit', { 'id': employee.user.id }) }}">{% trans %}Password bearbeiten{% endtrans %}</a></li>
                                                  </ul>
                                                </div>
                                              </td>
                                              {% endif %}
                                          </tr>
                                      {% endfor %}
                                  </tbody>
                                <tfoot>
                                    <tr>
                                     {% if is_granted('ROLE_ADMIN') %}
                                           <th>{% trans %}Gehalt{% endtrans %}</th>
                                           <th>{% trans %}Ab{% endtrans %}</th>
                                           <th>{% trans %}Bis{% endtrans %}</th>
                                           <th>{% trans %}Kommentar{% endtrans %}</th>
                                           <th>{% trans %}create_at{% endtrans %}</th>
                                          <th></th>
                                          {% endif %}
                                      </tr>
                               </tfoot>
                              </table>
                          </div>
                      </div>




        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/bundles/vehicle/css/bootstrap-datetimepicker.min.css" />
     <link rel="stylesheet" type="text/css" href="/bundles/vehicle/css/jquery.dataTables.min.css" />
   <link rel="stylesheet" type="text/css" href="/bundles/newApp/fixedColumns.dataTables.min.css" />
   <style>
   th input {
        width: 90%;
    }
     </style>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/bundles/vehicle/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/bundles/vehicle/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/bundles/newApp/date-eu.js"></script>
    <script type="text/javascript" src="/bundles/newApp/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript">
    var editor; // use a global for the submit and return data rendering in the examples
        $(document).ready(function() {
        $('tbody').scroll(function(e) { //detect a scroll event on the tbody
            /*
            Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
            of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.
            */
            $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
            $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
            $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
        });
    });

   $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#all tfoot th').each( function (i) {
        var title = $('#all thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
    } );

    // DataTable
    var table = $('#all').DataTable( {
          columnDefs: [
          { type: 'date-eu', targets: 3 },
       { type: 'date-eu', targets: 6 },
       { type: 'date-eu', targets: 7 },
     ],
        dom: 'Bfrtip',
        select: true,
          lengthMenu: [
            [ -1, 10, 25, 50 ],
            [ 'Zeige alle Zeilen', '10 Zeilen', '25 Zeilen', '50 Zeilen']
        ],
         buttons: [
            { extend: 'pageLength', text:     'Zeige <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i>'},
          { extend: 'print',text:      'Drucken <i class="fa fa-print"></i>' },

            {
                extend:    'copyHtml5',
                text:      'Kopieren <i class="fa fa-files-o"></i>',
                titleAttr: 'Copy'
            },
            {
                extend:    'excelHtml5',
                text:      'Excel Exportieren <i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel'
            },
            {
                extend:    'csvHtml5',
                text:      'CSV Exportieren <i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV'
            },
            {
                extend:    'pdfHtml5',
                text:      'PDF Exportieren <i class="fa fa-file-pdf-o"></i>',
                titleAttr: 'PDF'
            }


        ],
          language: {
           buttons: {
            pageLength: {
                _: "Zeige %d Zeilen <i class='fa fa-cog fa-spin fa-1x fa-fw' aria-hidden='true'></i>",
                '-1': "Zeige alle Zeilen <i class='fa fa-cog fa-spin fa-1x fa-fw' aria-hidden='true'></i>"
                    }
            },
            sEmptyTable:   	"Keine Daten in der Tabelle vorhanden",
            sInfo:         	"_START_ bis _END_ von _TOTAL_ Einträgen",
            sInfoEmpty:    	"0 bis 0 von 0 Einträgen",
            sInfoFiltered: 	"(gefiltert von _MAX_ Einträgen)",
            sInfoPostFix:  	"",
            sInfoThousands:  	".",
            sLengthMenu:   	"_MENU_ Einträge anzeigen",
            sLoadingRecords: 	"Wird geladen...",
            sProcessing:   	"Bitte warten...",
            sSearch:       	"Suchen",
            sZeroRecords:  	"Keine Einträge vorhanden.",
            oPaginate: {
             sFirst:    	"Erste",
             sPrevious: 	"Zurück",
             sNext:     	"Nächste",
             sLast:     	"Letzte"
            },
            oAria: {
              sSortAscending:  ": aktivieren, um Spalte aufsteigend zu sortieren",
              sSortDescending: ": aktivieren, um Spalte absteigend zu sortieren"
            }
        }
    } );
    $( table.table().container() ).on( 'keyup', 'tfoot input', function () {
             table
                .column( $(this).data('index') )
                .search( this.value )
                .draw();
        } );
    } );






    $(document).ready(function() {
     // Setup - add a text input to each footer cell
     $('#all2 tfoot th').each( function (i) {
         var title = $('#all2 thead th').eq( $(this).index() ).text();
         $(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
     } );

     // DataTable
     var table = $('#all2').DataTable( {
       columnDefs: [
                       { type: 'date-eu', targets: 3 },
                  ],
         dom: 'Bfrtip',
         select: true,
           lengthMenu: [
             [ -1, 10, 25, 50 ],
             [ 'Zeige alle Zeilen', '10 Zeilen', '25 Zeilen', '50 Zeilen']
         ],
          buttons: [
             { extend: 'pageLength', text:     'Zeige <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i>'},
           { extend: 'print',text:      'Drucken <i class="fa fa-print"></i>' },

             {
                 extend:    'copyHtml5',
                 text:      'Kopieren <i class="fa fa-files-o"></i>',
                 titleAttr: 'Copy'
             },
             {
                 extend:    'excelHtml5',
                 text:      'Excel Exportieren <i class="fa fa-file-excel-o"></i>',
                 titleAttr: 'Excel'
             },
             {
                 extend:    'csvHtml5',
                 text:      'CSV Exportieren <i class="fa fa-file-text-o"></i>',
                 titleAttr: 'CSV'
             },
             {
                 extend:    'pdfHtml5',
                 text:      'PDF Exportieren <i class="fa fa-file-pdf-o"></i>',
                 titleAttr: 'PDF'
             }


         ],
           language: {
            buttons: {
             pageLength: {
                 _: "Zeige %d Zeilen <i class='fa fa-cog fa-spin fa-1x fa-fw' aria-hidden='true'></i>",
                 '-1': "Zeige alle Zeilen <i class='fa fa-cog fa-spin fa-1x fa-fw' aria-hidden='true'></i>"
                     }
             },
             sEmptyTable:   	"Keine Daten in der Tabelle vorhanden",
             sInfo:         	"_START_ bis _END_ von _TOTAL_ Einträgen",
             sInfoEmpty:    	"0 bis 0 von 0 Einträgen",
             sInfoFiltered: 	"(gefiltert von _MAX_ Einträgen)",
             sInfoPostFix:  	"",
             sInfoThousands:  	".",
             sLengthMenu:   	"_MENU_ Einträge anzeigen",
             sLoadingRecords: 	"Wird geladen...",
             sProcessing:   	"Bitte warten...",
             sSearch:       	"Suchen",
             sZeroRecords:  	"Keine Einträge vorhanden.",
             oPaginate: {
              sFirst:    	"Erste",
              sPrevious: 	"Zurück",
              sNext:     	"Nächste",
              sLast:     	"Letzte"
             },
             oAria: {
               sSortAscending:  ": aktivieren, um Spalte aufsteigend zu sortieren",
               sSortDescending: ": aktivieren, um Spalte absteigend zu sortieren"
             }
         }
     } );
     $( table.table().container() ).on( 'keyup', 'tfoot input', function () {
              table
                 .column( $(this).data('index') )
                 .search( this.value )
                 .draw();
         } );
     } );
 </script>
{% endblock %}
