<p>Guten Tag,</p>
<p>Folgende Benutzer wurden neu angelegt:</p>
<p>Name: {{ employee.FName }}</p>
<p>Abteilung: {{ employee.department.description }}</p>
<p>Email : {{ email }}</p>
<p>User: {{ user }}</p>
<p>password: {{ password }}</p>
<p>Melden Sie sich über den folgenden Link auf der Website an : https://management.dialog-bz.de/login </p>
